<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CarManagementSystem.Properties.Settings.TourismDMSConnectionString"
            connectionString="Data Source=45.40.159.133;Initial Catalog=TourismDMS;Persist Security Info=True;User ID=Arjav;Password=@Myproj123;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>